<a href="https://colab.research.google.com/github/modassir09/car_data/blob/main/car_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 43 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 54.6 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=bbca76fada47aa3dde077e6920ce5c949dcd09d959d7a09390b23627b037f0d3
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
.master("local")\
.appName("Colab")\
.config('spark.ui.port', '4050')\
.getOrCreate()

In [4]:
spark

In [5]:
!wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv

--2022-10-05 05:04:42--  https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobceles.github.io (jacobceles.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobceles.github.io (jacobceles.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv [following]
--2022-10-05 05:04:42--  https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobcelestine.com (jacobcelestine.com)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobcelestine.com (jacobcelestine.com)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22608 (22K) [text/csv]
Saving to: ‘cars.csv’

cars.csv            100%[===================>]  22.08K  --.-KB/s    in 0.001s

2022-10-05 05:04:42 (40.0 MB/s) - ‘cars.csv’ saved [22608/22608]

In [6]:
ls

cars.csv  gdrive/  sample_data/

In [7]:
# Load data from csv to a dataframe. 
# header=True means the first row is a header 
# sep=';' means the column are seperated using ''
df=spark.read.csv("cars.csv",header=True,sep=';')

In [8]:
df.show(5)
#The above command loads our data from into a dataframe (DF). A dataframe is a 2-dimensional labeled data structure with columns of potentially different types.

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [9]:
df.count()

406

In [10]:
df.show(5,False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504. |12.0        |70   |US    |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693. |11.5        |70   |US    |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436. |11.0        |70   |US    |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433. |12.0        |70   |US    |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449. |10.5        |70   |US    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [11]:
df.show(5,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504. |12.0        |70   |US    |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693. |11.5        |70   |US    |
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436. |11.0        |70   |US    |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433. |12.0        |70   |US    |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449. |10.5        |70   |US    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 5 rows

In [12]:
df.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [13]:
df.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: string (nullable = true)
 |-- Cylinders: string (nullable = true)
 |-- Displacement: string (nullable = true)
 |-- Horsepower: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Acceleration: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Origin: string (nullable = true)

In [14]:
df.columns

['Car',
 'MPG',
 'Cylinders',
 'Displacement',
 'Horsepower',
 'Weight',
 'Acceleration',
 'Model',
 'Origin']

In [36]:
#selecting column 
print(df['car'])
print("*"*40)
df.select(df['car']).show(truncate=False)

Column<'car'>
****************************************
+--------------------------------+
|car                             |
+--------------------------------+
|Chevrolet Chevelle Malibu       |
|Buick Skylark 320               |
|Plymouth Satellite              |
|AMC Rebel SST                   |
|Ford Torino                     |
|Ford Galaxie 500                |
|Chevrolet Impala                |
|Plymouth Fury iii               |
|Pontiac Catalina                |
|AMC Ambassador DPL              |
|Citroen DS-21 Pallas            |
|Chevrolet Chevelle Concours (sw)|
|Ford Torino (sw)                |
|Plymouth Satellite (sw)         |
|AMC Rebel SST (sw)              |
|Dodge Challenger SE             |
|Plymouth 'Cuda 340              |
|Ford Mustang Boss 302           |
|Chevrolet Monte Carlo           |
|Buick Estate Wagon (sw)         |
+--------------------------------+
only showing top 20 rows

In [16]:
#Selecting Multiple Columns
df.select(df['car'],df['cylinders']).show(truncate=False)

+--------------------------------+---------+
|car                             |cylinders|
+--------------------------------+---------+
|Chevrolet Chevelle Malibu       |8        |
|Buick Skylark 320               |8        |
|Plymouth Satellite              |8        |
|AMC Rebel SST                   |8        |
|Ford Torino                     |8        |
|Ford Galaxie 500                |8        |
|Chevrolet Impala                |8        |
|Plymouth Fury iii               |8        |
|Pontiac Catalina                |8        |
|AMC Ambassador DPL              |8        |
|Citroen DS-21 Pallas            |4        |
|Chevrolet Chevelle Concours (sw)|8        |
|Ford Torino (sw)                |8        |
|Plymouth Satellite (sw)         |8        |
|AMC Rebel SST (sw)              |8        |
|Dodge Challenger SE             |8        |
|Plymouth 'Cuda 340              |8        |
|Ford Mustang Boss 302           |8        |
|Chevrolet Monte Carlo           |8        |
|Buick Estate Wagon (sw)         |8        |
+--------------------------------+---------+
only showing top 20 rows

In [17]:
# We will add a new column called 'first_column' at the end
from pyspark.sql.functions import lit
# lit means literal. It populates the row with the literal value given.
# When adding static data / constant values, it is a good practice to use it.
df=df.withColumn('first_column',lit(0))
df.show(7)

+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|           0|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|           0|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|           0|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|           0|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|           0|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|           0|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|           0|
+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+
only showing top 7 rows

Adding multiple column

In [18]:
# We will add two new columns called 'second_column' and 'third_column' at the end
df = df.withColumn('second_column', lit(2)) \
       .withColumn('third_column', lit('Third Column'))
# lit means literal. It populates the row with the literal value given.
# When adding static data / constant values, it is a good practice to use it.
df.show(5,truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|second_column|third_column|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+------------+
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504. |12.0        |70   |US    |0           |2            |Third Column|
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693. |11.5        |70   |US    |0           |2            |Third Column|
|Plymouth Satellite       |18.0|8        |318.0       |150.0     |3436. |11.0        |70   |US    |0           |2            |Third Column|
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433. |12.0        |70   |US    |0           |2            |Third Column|
|Ford Torino              |17.0|8        |302.0       |140.0     |3449. |10.5        |70   |US    |0           |2            |Third Column|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+------------+
only showing top 5 rows

Renaming Columns

In [19]:
df=df.withColumnRenamed('third_column','new_third_column')
df.show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|second_column|new_third_column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|           0|            2|    Third Column|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|           0|            2|    Third Column|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|           0|            2|    Third Column|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|           0|            2|    Third Column|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|           0|            2|    Third Column|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|           0|            2|    Third Column|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|           0|            2|    Third Column|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0| 4312.|         8.5|   70|    US|           0|            2|    Third Column|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0| 4425.|        10.0|   70|    US|           0|            2|    Third Column|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0| 3850.|         8.5|   70|    US|           0|            2|    Third Column|
|Citroen DS-21 Pallas|   0|        4|       133.0|     115.0| 3090.|        17.5|   70|Europe|           0|            2|    Third Column|
|Chevrolet Chevell...|   0|        8|       350.0|     165.0| 4142.|        11.5|   70|    US|           0|            2|    Third Column|
|    Ford Torino (sw)|   0|        8|       351.0|     153.0| 4034.|        11.0|   70|    US|           0|            2|    Third Column|
|Plymouth Satellit...|   0|        8|       383.0|     175.0| 4166.|        10.5|   70|    US|           0|            2|    Third Column|
|  AMC Rebel SST (sw)|   0|        8|       360.0|     175.0| 3850.|        11.0|   70|    US|           0|            2|    Third Column|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|           0|            2|    Third Column|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0| 3609.|         8.0|   70|    US|           0|            2|    Third Column|
|Ford Mustang Boss...|   0|        8|       302.0|     140.0| 3353.|         8.0|   70|    US|           0|            2|    Third Column|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|           0|            2|    Third Column|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0| 3086.|        10.0|   70|    US|           0|            2|    Third Column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
only showing top 20 rows

Groupuing by Column

In [20]:
#Group by column
df.groupBy('origin').count().show(5)

+------+-----+
|origin|count|
+------+-----+
|Europe|   73|
|    US|  254|
| Japan|   79|
+------+-----+

In [21]:
#GroupBy multiple column
df.groupBy("origin","Model").count().show(5)

+------+-----+-----+
|origin|Model|count|
+------+-----+-----+
| Japan|   76|    4|
|    US|   81|   13|
|    US|   80|    7|
|    US|   76|   22|
| Japan|   70|    2|
+------+-----+-----+
only showing top 5 rows

In [22]:
df.drop('second_column').show(5)

+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+----------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|new_third_column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+----------------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|           0|    Third Column|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|           0|    Third Column|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|           0|    Third Column|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|           0|    Third Column|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|           0|    Third Column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+----------------+
only showing top 5 rows

In [23]:
#Removing multiple column
df.drop('first_column','new_third_column').show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+-------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|second_column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+-------------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0| 3504.|        12.0|   70|    US|            2|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0| 3693.|        11.5|   70|    US|            2|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0| 3436.|        11.0|   70|    US|            2|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0| 3433.|        12.0|   70|    US|            2|
|         Ford Torino|17.0|        8|       302.0|     140.0| 3449.|        10.5|   70|    US|            2|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0| 4341.|        10.0|   70|    US|            2|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0| 4354.|         9.0|   70|    US|            2|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0| 4312.|         8.5|   70|    US|            2|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0| 4425.|        10.0|   70|    US|            2|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0| 3850.|         8.5|   70|    US|            2|
|Citroen DS-21 Pallas|   0|        4|       133.0|     115.0| 3090.|        17.5|   70|Europe|            2|
|Chevrolet Chevell...|   0|        8|       350.0|     165.0| 4142.|        11.5|   70|    US|            2|
|    Ford Torino (sw)|   0|        8|       351.0|     153.0| 4034.|        11.0|   70|    US|            2|
|Plymouth Satellit...|   0|        8|       383.0|     175.0| 4166.|        10.5|   70|    US|            2|
|  AMC Rebel SST (sw)|   0|        8|       360.0|     175.0| 3850.|        11.0|   70|    US|            2|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0| 3563.|        10.0|   70|    US|            2|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0| 3609.|         8.0|   70|    US|            2|
|Ford Mustang Boss...|   0|        8|       302.0|     140.0| 3353.|         8.0|   70|    US|            2|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0| 3761.|         9.5|   70|    US|            2|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0| 3086.|        10.0|   70|    US|            2|
+--------------------+----+---------+------------+----------+------+------------+-----+------+-------------+
only showing top 20 rows

DataFrame Operations on Rows
We will discuss the follwoing in this section:

Filtering Rows/
Get Distinct Rows/
Sorting Rows/
Union Dataframes/

In [24]:
print("Total Record count: "+ str(df.count()))

Total Record count: 406

In [25]:
from pyspark.sql.functions import col

In [26]:
europe_filtered_count=df.filter(col("Origin") == "Europe").show(5,truncate=False)

+----------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
|Car                         |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|second_column|new_third_column|
+----------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
|Citroen DS-21 Pallas        |0   |4        |133.0       |115.0     |3090. |17.5        |70   |Europe|0           |2            |Third Column    |
|Volkswagen 1131 Deluxe Sedan|26.0|4        |97.00       |46.00     |1835. |20.5        |70   |Europe|0           |2            |Third Column    |
|Peugeot 504                 |25.0|4        |110.0       |87.00     |2672. |17.5        |70   |Europe|0           |2            |Third Column    |
|Audi 100 LS                 |24.0|4        |107.0       |90.00     |2430. |14.5        |70   |Europe|0           |2            |Third Column    |
|Saab 99e                    |25.0|4        |104.0       |95.00     |2375. |17.5        |70   |Europe|0           |2            |Third Column    |
+----------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
only showing top 5 rows

In [38]:
# Filtering rows in PySpark based on Multiple conditions
hdhd= df.filter((col('Origin')== 'Europe') & (col('Cylinders')==4)).show(9)

+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|second_column|new_third_column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
|Citroen DS-21 Pallas|   0|        4|       133.0|     115.0| 3090.|        17.5|   70|Europe|           0|            2|    Third Column|
|Volkswagen 1131 D...|26.0|        4|       97.00|     46.00| 1835.|        20.5|   70|Europe|           0|            2|    Third Column|
|         Peugeot 504|25.0|        4|       110.0|     87.00| 2672.|        17.5|   70|Europe|           0|            2|    Third Column|
|         Audi 100 LS|24.0|        4|       107.0|     90.00| 2430.|        14.5|   70|Europe|           0|            2|    Third Column|
|            Saab 99e|25.0|        4|       104.0|     95.00| 2375.|        17.5|   70|Europe|           0|            2|    Third Column|
|            BMW 2002|26.0|        4|       121.0|     113.0| 2234.|        12.5|   70|Europe|           0|            2|    Third Column|
|Volkswagen Super ...|   0|        4|       97.00|     48.00| 1978.|        20.0|   71|Europe|           0|            2|    Third Column|
|           Opel 1900|28.0|        4|       116.0|     90.00| 2123.|        14.0|   71|Europe|           0|            2|    Third Column|
|         Peugeot 304|30.0|        4|       79.00|     70.00| 2074.|        19.5|   71|Europe|           0|            2|    Third Column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
only showing top 9 rows

In [28]:
#Get Unique Rows in PySpark
df.select('Origin').distinct().show()

+------+
|Origin|
+------+
|Europe|
|    US|
| Japan|
+------+

In [29]:
#get unique multiple rows in pyspark
df.select('origin','Model').distinct().show()

+------+-----+
|origin|Model|
+------+-----+
| Japan|   76|
|    US|   81|
|    US|   80|
|    US|   76|
| Japan|   70|
|    US|   78|
|Europe|   76|
|    US|   70|
| Japan|   75|
|Europe|   80|
| Japan|   77|
|Europe|   72|
|    US|   75|
|    US|   79|
|    US|   82|
|Europe|   75|
| Japan|   78|
|    US|   71|
| Japan|   82|
| Japan|   80|
+------+-----+
only showing top 20 rows

In [30]:
# Sort Rows in PySpark
# By default the data will be sorted in ascending order
df.orderBy('cylinders').show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|second_column|new_third_column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
|          Mazda RX-4|21.5|        3|       80.00|     110.0| 2720.|        13.5|   77| Japan|           0|            2|    Third Column|
|       Mazda RX-7 GS|23.7|        3|       70.00|     100.0| 2420.|        12.5|   80| Japan|           0|            2|    Third Column|
|     Mazda RX2 Coupe|19.0|        3|       70.00|     97.00| 2330.|        13.5|   72| Japan|           0|            2|    Third Column|
|           Mazda RX3|18.0|        3|       70.00|     90.00| 2124.|        13.5|   73| Japan|           0|            2|    Third Column|
|     Datsun 510 (sw)|28.0|        4|       97.00|     92.00| 2288.|        17.0|   72| Japan|           0|            2|    Third Column|
|           Opel 1900|28.0|        4|       116.0|     90.00| 2123.|        14.0|   71|Europe|           0|            2|    Third Column|
|  Mercury Capri 2000|23.0|        4|       122.0|     86.00| 2220.|        14.0|   71|    US|           0|            2|    Third Column|
|Volkswagen 1131 D...|26.0|        4|       97.00|     46.00| 1835.|        20.5|   70|Europe|           0|            2|    Third Column|
|         Peugeot 304|30.0|        4|       79.00|     70.00| 2074.|        19.5|   71|Europe|           0|            2|    Third Column|
|           Fiat 124B|30.0|        4|       88.00|     76.00| 2065.|        14.5|   71|Europe|           0|            2|    Third Column|
| Chevrolet Vega (sw)|22.0|        4|       140.0|     72.00| 2408.|        19.0|   71|    US|           0|            2|    Third Column|
|         Datsun 1200|35.0|        4|       72.00|     69.00| 1613.|        18.0|   71| Japan|           0|            2|    Third Column|
|Volkswagen Model 111|27.0|        4|       97.00|     60.00| 1834.|        19.0|   71|Europe|           0|            2|    Third Column|
|   Volkswagen Type 3|23.0|        4|       97.00|     54.00| 2254.|        23.5|   72|Europe|           0|            2|    Third Column|
|         Audi 100 LS|24.0|        4|       107.0|     90.00| 2430.|        14.5|   70|Europe|           0|            2|    Third Column|
|            BMW 2002|26.0|        4|       121.0|     113.0| 2234.|        12.5|   70|Europe|           0|            2|    Third Column|
| Toyota Corolla 1200|31.0|        4|       71.00|     65.00| 1773.|        19.0|   71| Japan|           0|            2|    Third Column|
| Chevrolet Vega 2300|28.0|        4|       140.0|     90.00| 2264.|        15.5|   71|    US|           0|            2|    Third Column|
|          Ford Pinto|25.0|        4|       98.00|         0| 2046.|        19.0|   71|    US|           0|            2|    Third Column|
|  Dodge Colt Hardtop|25.0|        4|       97.50|     80.00| 2126.|        17.0|   72|    US|           0|            2|    Third Column|
+--------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
only showing top 20 rows

In [31]:
# To change the sorting order, you can use the ascending parameter
df.orderBy('Cylinders', ascending=False).show(truncate=False)

+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
|Car                      |MPG |Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|first_column|second_column|new_third_column|
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
|Plymouth 'Cuda 340       |14.0|8        |340.0       |160.0     |3609. |8.0         |70   |US    |0           |2            |Third Column    |
|Pontiac Safari (sw)      |13.0|8        |400.0       |175.0     |5140. |12.0        |71   |US    |0           |2            |Third Column    |
|Ford Mustang Boss 302    |0   |8        |302.0       |140.0     |3353. |8.0         |70   |US    |0           |2            |Third Column    |
|Buick Skylark 320        |15.0|8        |350.0       |165.0     |3693. |11.5        |70   |US    |0           |2            |Third Column    |
|Chevrolet Monte Carlo    |15.0|8        |400.0       |150.0     |3761. |9.5         |70   |US    |0           |2            |Third Column    |
|AMC Rebel SST            |16.0|8        |304.0       |150.0     |3433. |12.0        |70   |US    |0           |2            |Third Column    |
|Buick Estate Wagon (sw)  |14.0|8        |455.0       |225.0     |3086. |10.0        |70   |US    |0           |2            |Third Column    |
|Ford Galaxie 500         |15.0|8        |429.0       |198.0     |4341. |10.0        |70   |US    |0           |2            |Third Column    |
|Ford F250                |10.0|8        |360.0       |215.0     |4615. |14.0        |70   |US    |0           |2            |Third Column    |
|Plymouth Fury iii        |14.0|8        |440.0       |215.0     |4312. |8.5         |70   |US    |0           |2            |Third Column    |
|Chevy C20                |10.0|8        |307.0       |200.0     |4376. |15.0        |70   |US    |0           |2            |Third Column    |
|AMC Ambassador DPL       |15.0|8        |390.0       |190.0     |3850. |8.5         |70   |US    |0           |2            |Third Column    |
|Dodge D200               |11.0|8        |318.0       |210.0     |4382. |13.5        |70   |US    |0           |2            |Third Column    |
|Ford Torino (sw)         |0   |8        |351.0       |153.0     |4034. |11.0        |70   |US    |0           |2            |Third Column    |
|Hi 1200D                 |9.0 |8        |304.0       |193.0     |4732. |18.5        |70   |US    |0           |2            |Third Column    |
|AMC Rebel SST (sw)       |0   |8        |360.0       |175.0     |3850. |11.0        |70   |US    |0           |2            |Third Column    |
|Chevrolet Impala         |14.0|8        |350.0       |165.0     |4209. |12.0        |71   |US    |0           |2            |Third Column    |
|Chevrolet Chevelle Malibu|18.0|8        |307.0       |130.0     |3504. |12.0        |70   |US    |0           |2            |Third Column    |
|Pontiac Catalina Brougham|14.0|8        |400.0       |175.0     |4464. |11.5        |71   |US    |0           |2            |Third Column    |
|Ford Torino              |17.0|8        |302.0       |140.0     |3449. |10.5        |70   |US    |0           |2            |Third Column    |
+-------------------------+----+---------+------------+----------+------+------------+-----+------+------------+-------------+----------------+
only showing top 20 rows

You will see three main methods for performing union of dataframes. It is important to know the difference between them and which one is preferred:

---
union() – It is used to merge two DataFrames of the same structure/schema. If schemas are not the same, it returns an error
unionAll() – This function is deprecated since Spark 2.0.0, and replaced with union()
unionByName() - This function is used to merge two dataframes based on column name.

The difference between unionByName() and union() is that unionByName() resolves columns by name, not by position.

In [40]:
# CASE 1: Union When columns are in order
europe_cars=df.filter((col('Origin') == 'Europe') &(col('cylinders')==5))
japan_cars=df.filter((col('Origin' )== 'Japan') &(col('cylinders')==3))
print("europe cars   : " +str(europe_cars.count()))
print("japan cars    : " +str(japan_cars.count()))
print('after union   : '  +str(europe_cars.union(japan_cars).count()))

europe cars   : 3
japan cars    : 4
after union   : 7

In [34]:
# CASE 1: Union When columns are not in order
# Creating two dataframes with jumbled columns
df1 =spark.createDataFrame([[1,2,3]], ["col0","col1","col2"])
df2 =spark.createDataFrame([[4,5,6]], ["col1","col2","col0"])
df1.unionByName(df2).show()

+----+----+----+
|col0|col1|col2|
+----+----+----+
|   1|   2|   3|
|   6|   4|   5|
+----+----+----+